body {
  font-family: sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

/* NAV BAR  */

nav {
  position: fixed;
  width: 100%;
  color: black;
  background-color: black;
  list-style: none;
}
ul {
  float: right;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 0;
}
nav ul li:hover {
  background-color: white;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: white;
}
nav ul li a:hover {
  text-decoration: none;
  display: block;
  color: black;
}

.checkbtn {
  font-size: 30px;
  color: white;
  margin-right: 40px;
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* HEADER AND MAIN */

header {
  padding: 12% 0;
  text-align: center;
}
p {
  text-align: center;
}

section {
  min-height: 200px;
  padding: 6% 0;
}

section:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

img {
    border: solid;
    height: auto;
    width: 300px;
}

footer {
    padding: 1% 0;
}

/* RESPONSIVE DESIGN */

@media only screen and (min-width: 670px) {
  img {
      height: auto;
      width: 1000px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    height: 100vh;
    background: black;
    top: 80px;
    left: 70%;
    text-align: left;
    /* direction: rtl; */
    opacity: .3;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }

}