body {
  font-family: sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

/* NAV BAR  */

nav {
  position: fixed;
  width: 100%;
  color: black;
  background-color: black;
  list-style: none;
}
ul {
  float: right;
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  padding: 10px;
  margin: 0;
}
nav ul li:hover {
  background-color: white;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: white;
}
nav ul li a:hover {
  text-decoration: none;
  display: block;
  color: black;
}

.checkbtn {
  font-size: 30px;
  color: white;
  margin-right: 40px;
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.hidden {
  visibility: hidden;
  left: 100%;
  transition: .5s;
}

#hamburger {
  border: white solid;
  border-radius: 50%;
  font-size: 12px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
#hamburger:active {
  border-color: black;
  background-color: white;
  color: black;
}

/* HEADER AND MAIN */

header {
  padding: 12% 0;
  text-align: center;

}
p {
  text-align: center;
}
div.p {
  width: 80%;
}


section {
  min-height: 200px;
  padding: 6% 0;  
}

section:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

img {
    border: black solid;
    height: auto;
    width: 300px;
}
.btn {
  border: black solid;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 8px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}
.btn:hover {
  background-color: white;
  color: black;
}

.tech {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
i {
  font-size: 40px;
}


footer {
    padding: 1% 0;
    background-color: black;
    color: white;
}

/* RESPONSIVE DESIGN */

@media only screen and (min-width: 670px) {
  img {
      height: auto;
      width: 1000px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .checkbtn {
    display: block;
  }
  nav {
    transition: .5s;
    margin-left: 0;

  }
  nav ul {
    position: fixed;
    height: auto;
    background: black;
    top: 80px;
    left: 70%;
    text-align: left;
    opacity: .8;
    transition: .5s;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }
}